$def with(data)
<html>
<head>
</head>
<body>
    <div id="input">

        <label>Date</label>
        <input type="text" name="dd" id="dd" placeholder="dd" size=2 maxlength=2>/
        <input type="text" name="mm" id="mm" placeholder="mm" size=2 maxlength=2>/
        <input type="text" name="yyyy" id="yyyy" placeholder="yyyy" size=4 maxlength=4>
        
        <br><br><br>
        <input type="button" value="Submit" onclick="javascript:done();">

    </div>

    <div id="plotter0"></div>
    <div id="plotter1"></div>
</body>
</html>

<script type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/static/js/plotly-latest.min.js"></script>
<script type="text/javascript">
    function done(){
        var params = {};
        params["report"] = 5;
        params["dd"] = jQuery("#dd").val();
        params["mm"] = jQuery("#mm").val();
        params["yyyy"] = jQuery("#yyyy").val();
        console.log(params);

        jQuery("#input").hide()

        var plotargs = {};
        jQuery.ajax({                                                                   
                    url: '/getdata/',                                                    
                    type: 'GET',       
                    data: params,
                    dataType: 'json',                                                  
                    async: false,
                    success: function (plotargs){                                             
                        //console.log(plotargs);
                        }
                    }).done(function (plotargs){
                        console.log(plotargs);

                        Plotter = document.getElementById("plotter0");                
                        Plotly.plot(Plotter, plotargs[0]["data"], plotargs[1]["layout"]);

                        Plotter = document.getElementById("plotter1");                
                        Plotly.plot(Plotter, plotargs[1]["data"], plotargs[1]["layout"]);
                });

    }
</script>

