$def with(data)
<html>
<head>
</head>
<body>
    <div id="input">
        <select name="scrip" id="scrip">
        $for scrip in data['scrips']:
            <option value=$scrip>$scrip</option>
        </select>
        <br><br><br>

        <label>Date</label>
        <input type="text" name="dd" id="dd" placeholder="dd" size=2 maxlength=2>/
        <input type="text" name="mm" id="mm" placeholder="mm" size=2 maxlength=2>/
        <input type="text" name="yyyy" id="yyyy" placeholder="yyyy" size=4 maxlength=4>
        
        <br><br><br>
        <input type="button" value="Submit" onclick="javascript:done();">
    </div>

    <div id="error"></div>

    <div id="plotter0"></div>
    <div id="plotter1"></div>
    <div id="plotter2"></div>
</body>
</html>

<script type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/static/js/plotly-latest.min.js"></script>

<script type="text/javascript">
    function done(){
        var params = {};
        params["report"] = 1;
        params["scrip"] = jQuery("#scrip").val();
        params["dd"] = jQuery("#dd").val();
        params["mm"] = jQuery("#mm").val();
        params["yyyy"] = jQuery("#yyyy").val();
        console.log(params);

        jQuery("#input").hide()

        var plotargs = {};
        jQuery.ajax({                                                                   
                    url: '/getdata/',                                                    
                    type: 'GET',       
                    data: params,
                    dataType: 'json',                                                  
                    async: false,
                    success: function (plotargs){                                             
                        //console.log(plotargs);
                    },
                    error: function (jqXHR, exception){
                        var err = jqXHR.responseText;
                        console.log(err);
                        jQuery("#error").text(err);
                    }
                    }).done(function (plotargs){
                        console.log(plotargs);
                        //plotargs[0]["layout"]["title"] += ": Near series";
                        Plotter = document.getElementById("plotter0");                
                        Plotly.plot(Plotter, plotargs[0]["data"], plotargs[0]["layout"]);

                        //plotargs[1]["layout"]["title"] += ": Next series";
                        Plotter = document.getElementById("plotter1");                
                        Plotly.plot(Plotter, plotargs[1]["data"], plotargs[1]["layout"]);

                        //plotargs[2]["layout"]["title"] += ": Far series";
                        Plotter = document.getElementById("plotter2");                
                        Plotly.plot(Plotter, plotargs[2]["data"], plotargs[2]["layout"]);
                });

    }
</script>

