$def with(data)
<html>
<head>
</head>
<body>
    <div id="input">
        <select name="scrip" id="scrip">
        $for scrip in data['scrips']:
            <option value=$scrip>$scrip</option>
        </select>
        <br><br><br>
        <input type="button" value="Submit" onclick="javascript:done();">
    </div>

    <div id="plotter" style="width:600px;height:250px;"></div>
</body>
</html>

<script type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/static/js/utils.js"></script>
<script type="text/javascript" src="/static/js/plotly-latest.min.js"></script>

<script type="text/javascript">
    function done(){
        var params = {};
        params["report"] = 3;
        params["scrip"] = jQuery("#scrip").val();
        console.log(params);

        jQuery("#input").hide()

        var plotargs = {};
        jQuery.ajax({                                                                   
                    url: '/getdata/',                                                    
                    type: 'GET',       
                    data: params,
                    dataType: 'json',                                                  
                    async: false,
                    success: function (plotargs){                                             
                        //console.log(plotargs);
                        }
                    }).done(function (plotargs){
                        console.log(plotargs);
                        Plotter = document.getElementById("plotter");                
                        Plotly.plot(Plotter, plotargs["data"], plotargs["layout"]);
                });

    }
</script>
