$def with(data)
<html>
<head>
</head>

<body>
    <form action="/reports?report=6" method="post">
        <br><br><br>
        <label>Date</label>
        <input type="text" name="dd" placeholder="dd" size=2 maxlength=2>/
        <input type="text" name="mm" placeholder="mm" size=2 maxlength=2>/
        <input type="text" name="yyyy" placeholder="yyyy" size=4 maxlength=4>
        
        <br><br><br>
        <label>Number of scrips</label>
        <input type="text" name="n" placeholder="n" size=4 maxlength=4>

        <br><br><br>
        <input type="submit" value="Submit"> 
    </form>
</body>
</html>
